<ul class="nav nav-sidebar">
  <li><a ui-sref="admin">Dashboard</a></li>
  <li><a ui-sref="admin.users">Users</a>
    <ul>
      <li><a ui-sref="admin.users.list">Show Users</a></li>
      <li><a ui-sref="admin.users.add">Add User</a></li>
    </ul>
  </li>
  <li><a href="#">Campaigns</a></li>
  <li><a href="#">Lists</a></li>
  <li><a href="#">Scripts</a></li>
  <li><a href="#">Filters</a></li>
  <li><a href="#">Inbound</a></li>
  <li><a href="#">User Groups</a></li>
  <li><a href="#">Remote Agents</a></li>
  <li><a href="#">Administration</a></li>
</ul>
