<ul class="nav nav-sidebar">
  <li><a ui-sref="dashboard">Dashboard</a></li>
  <li><a ui-sref="users">Users</a>
    <ul>
      <li><a ui-sref="users.list">Show Users</a></li>
      <li><a ui-sref="users.add">Add User</a></li>
      <li><a href="#">Copy User</a></li>
      <li><a href="#">Search for a User</a></li>
      <li><a href="#">User Stats</a></li>
      <li><a href="#">User Status</a></li>
      <li><a href="#">Time Sheet</a></li>
    </ul>
  </li>
  <li><a href="#">Campaigns</a></li>
  <li><a href="#">Lists</a></li>
  <li><a href="#">Scripts</a></li>
  <li><a href="#">Filters</a></li>
  <li><a href="#">Inbound</a></li>
  <li><a href="#">User Groups</a></li>
  <li><a href="#">Remote Agents</a></li>
  <li><a href="#">Administration</a></li>
</ul>
