@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body, html {
  font-family: 'Roboto', sans-serif;
}

.no-padding {
  margin: -20px -20px 0px -20px !important;
}
@media (min-width: 768px) {
  .no-padding {
    margin: -20px -40px 0px -40px !important;
  }
}

.table-valign-middle {
   vertical-align: middle !important;
}

.page-heading {
  background-color: #EFEFEF;
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px !important;
  padding: 10px 10px 5px 10px;
  min-height: 52px;

  h3 {
    padding: 0px;
    margin: 0px;
    line-height: 30px;
    font-weight: 700;
    aside {
      padding: 4px 0px 0px 0px;
      margin: 0px;
      font-size: 10px;
      line-height: 12px;
      color: #999;
    }
  }

  .page-options {
    float: right;
    text-align: right;
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* Hide for mobile, show later */
#sidebar {
  display: none;
}
@media (min-width: 768px) {
  #sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: silver;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

#content {
  padding: 20px;
}
@media (min-width: 768px) {
  #content {
    padding-right: 40px;
    padding-left: 40px;
  }
}
#content .page-header {
  margin-top: 0;
}
